/news_with_embedding.csv
/report_24_25_with_embeddings.csv
/news_with_embedding_stocks.csv
/news_with_embedding_stocks_formatted.csv
/news_3y.csv
/news_2023_2025.csv
/report_2023_2025.csv
/뉴스-리포트 맵핑(23-25).csv
