/news_with_embedding.csv
/report_24_25_with_embeddings.csv
/news_with_embedding_stocks.csv
/news_with_embedding_stocks_formatted.csv
/news_3y.csv
/news_2023_2025.csv
/report_2023_2025.csv
/news_2023_2025_with_NER.csv
/news_2023_2025_with_stock_impact.csv
/KRX_KOSPI.csv
/뉴스-리포트 맵핑(23-25).csv
/news_2021_2023.csv
/report_2013_2023.csv
/news_2021_2023_with_NER.csv
/news_2021_2023_with_stock_impact.csv
/news_2023_2025_summarized.csv
/news_2019_2021.csv
/news_2017_2019.csv
/news_2023_2025_summarized_with_NER.csv
/news_2023_2025_dataset.csv
/news_2023_2025_dataset_similar_top_5.csv
/news_2023_2025_tm.csv
/news_2023_2025_dataset_similar_top_5_merged.csv
/news+external_2023_2025.csv
/news+external_2023_2025_ver2
/dataset_embedded.csv
/news_2023_2025_summarized2.csv
/news_2023_2025_dataset_similar_top_5_encoded32.csv
/news_2023_2025_dataset_similar_top_5_merged_encoded_32.csv
/news(23-25)_summarized_external.csv
/korea_base_rate_daily.csv
/news(23-25)_summarized_external_clean.csv
/news_2023_2025_dataset_similar_top_5_encoded64.csv
/news_2023_2025_dataset_similar_top_5_merged_encoded_64.csv
/dataset_2023_2025.csv
/news_2023_2025_summarized_view.csv
/kospi_description.csv
